<% flash.each do |type, msg|%>
  <div class="alert alert-danger"><%= msg%></div>
<% end %>

<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
