<div id="<%= dom_id tutor %>">
  <p>
    <strong>Name:</strong>
    <%= tutor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tutor.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= tutor.bio %>
  </p>

</div>
