<div id="<%= dom_id tutor %>">
  <div class="row">
    <p>
      <strong>Name:</strong>
      <%= tutor.name %>
    </p>
  </div>
  <div class="row">
    <p>
      <strong>Email:</strong>
      <%= tutor.email %>
    </p>
  </div>
  <div class="row">
    <p>
      <strong>Bio:</strong>
      <%= tutor.bio %>
    </p>
  </div>
</div>
