<div class="container pt-5">
  <h1 class="text-center py-5"><i class="bi bi-amd text-warning"></i> TutorME</h1>
  <div class="d-flex">
    <%= link_to "Courses", courses_path, class: "flex-grow-1 flex-shrink-1 m-5 p-5 text-center text-light bg-dark" %>
    <%= link_to "Tutors", tutors_path, class: "flex-grow-1 flex-shrink-1 m-5 p-5 text-center text-light bg-dark" %>
  </div>
</div>
